html,
body,
#app {
  height: 100%;
}

body {
  background-color: rgb(39, 1, 39);
  color: white;
  margin: 0;
}
/*^^^^^^ BODY ^^^^^^^^ */

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBar li {
  float: left;
}

.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover {
  background-color: #111;
}

/* .navBar .active {
  background-color: #04AA6D;
} */

/*^^^^^^ NavBar ^^^^^^^^ */

.homePage h1,
h2,
p {
  text-align: center;
}

.homePage h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.homePage h2 {
  padding-top: 0px;
  margin-top: 0px;
  border-top: 0px;
  font-style: italic;
}

/*^^^^^^ HomePage ^^^^^^^^ */

.membersHeader {
  text-align: center;
}

.membersTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.membersTable td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.membersTable tr:nth-child(even) {
  background-color: rgb(68, 4, 68);
}

.membersTable th {
  background-color: #c0c0c0;
  color: rgb(68, 4, 68);
  text-align: center;
  padding: 8px;
}

/* unvisited link */
.membersTable a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
.membersTable a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
.membersTable a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
.membersTable a:active {
  color: red;
  text-decoration: none;
}

/*^^^^^^ MembersTable ^^^^^^^^ */

.memberPage {
  display: contents;
}

.memberContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.memberPage .memberHeader {
  flex: 0 1 10%;
  display: flex;
}

.memberPage .memberSummary {
  width: 100%;
  display: flex;
}

.memberPage .memberSummary #memberAvatar>img{
  width: 100%;
  height: 100%;
}

.memberPage .memberSummary #memberDetails ul{
  list-style-type: none;
}


.memberPage .memberLinks {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.memberPage .memberLinks a {
  margin-bottom: 4px;
  border-radius: 4px;
  padding: 5px;
  width: 33%;
}

.memberPage .memberLinks img {
  margin-bottom: 4px;
  border-radius: 4px;
  padding: 5px;
  width: 40%;
}
.memberPage .memberLinks img:hover {
  box-shadow: 0 0 2px 1px red;
}

.memberPage .memberContent {
  flex: 1 1 auto;
  width: 100%;
  background-color: #111;
  background-repeat: no-repeat;
  background-size: 100%;
  align-self: center;
  align-content: center;
}

.memberPage .memberContent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

.memberPage .memberFooter {
  flex: 0 1 10%;
}

/*^^^^^^ MemberPage ^^^^^^^^ */

.mainRaidersHeader {
  text-align: center;
}

.mainRaiders {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid black;
  background-color: rgb(65, 37, 65);
}

.raiderSummary {
  display: flex;
  width: 160px;
  height: 300px;
  margin: auto;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgb(68, 4, 30);
  text-align: center;
}

#raiderAvatar>img{
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#raiderDetails ul{
  list-style-type: none;
  padding-left: 5px;
  margin: 5px;
}

#raiderFooter {
  background-color: rgb(105, 6, 6);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 16px;
}

/* unvisited link */
.mainRaiders a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
.mainRaiders a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
.mainRaiders a:hover {
  color: hotpink;
  text-decoration: none;
}

.mainRaiders .raiderSummary:hover {
  background-color: rgb(42, 2, 2);
}

/* selected link */
.mainRaiders a:active {
  color: red;
  text-decoration: none;
}


/*^^^^^^ RaidersPage ^^^^^^^ */
