body {
  background-color: rgb(39, 1, 39);
  color: white;
}
/*^^^^^^ BODY ^^^^^^^^ */

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBar li {
  float: left;
}

.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover {
  background-color: #111;
}

/* .navBar .active {
  background-color: #04AA6D;
} */

/*^^^^^^ NavBar ^^^^^^^^ */

.homePage h1, h2, p{
  text-align: center;
}

.homePage h1{
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.homePage h2{
  padding-top: 0px;
  margin-top: 0px;
  border-top: 0px;
  font-style: italic;
}



/*^^^^^^ HomePage ^^^^^^^^ */

.membersHeader{
  text-align: center;
}

.membersTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.membersTable td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.membersTable tr:nth-child(even) {
  background-color: rgb(68, 4, 68);
}

/* unvisited link */
.membersTable a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
.membersTable a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
.membersTable a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
.membersTable a:active {
  color: red;
  text-decoration: none;
}

/*^^^^^^ MembersTable ^^^^^^^^ */

.memberPage {
  color: white;
}

/*^^^^^^ MemberPage ^^^^^^^^ */